.idea/*
*/data_trash/*
*/lightning_logs/*
*/checkpoints/*
checkpoints/*
lightning_logs/*
data_trash/*

data/*
flagged/*

*.pyc
*.pyo

.ipynb_checkpoints
*/.ipynb_checkpoints/*

build/*

*.ipynb

*.log

*.png

